<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ps3_eye_model">
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <material name="ps3_eye_grey">
    <color rgba=".1 .1 .1 1.0"/>
  </material>
  
  <!-- Image Frame link (for rotation) -->
  <link name="image_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia
      ixx="0.0" ixy="0.0" ixz="0.0"
      iyy="0.0" iyz="0.0"
      izz="0.0"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
      <material name="ps3_eye_grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </collision>
  </link>
  
  <!-- Camera model -->
  <link name="ps3_eye_camera">
    <inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" />
      <inertia
      ixx="0.0" ixy="0.0" ixz="0.0"
      iyy="0.0" iyz="0.0"
      izz="0.0"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ee5900_jackal_description/meshes/ps3_eye_camera.stl" />
      </geometry>
      <material name="ps3_eye_grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.1" />
      </geometry>
    </collision>
  </link>
  
  
  <!-- Camera Base model -->
  <link name="ps3_eye_base">
    <inertial>
      <mass value="0.4" />
      <origin xyz="0 0 0" />
      <inertia
      ixx="0.0" ixy="0.0" ixz="0.0"
      iyy="0.0" iyz="0.0"
      izz="0.0"/>
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="${90 * PI / 180} 0 ${-90 * PI / 180}" />
      <geometry>
        <mesh filename="package://ee5900_jackal_description/meshes/ps3_eye_base.stl" />
      </geometry>
      <material name="ps3_eye_grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.1" />
      </geometry>
    </collision>
  </link>

  <!-- Link for alvar to camera -->
  <joint name="image_frame_to_ps3_eye_camera" type="fixed">
    <origin xyz="0 0 0" rpy="${-90 * PI / 180} 0 ${-90 * PI / 180}" /> 
    <parent link="ps3_eye_camera"/>
    <child link="image_frame"/>
  </joint>

  <!-- Link for Camera to Base -->
  <joint name="ps3_eye_camera_to_ps3_eye_base" type="fixed">
    <origin xyz="0 0 0.02661056536" rpy="0 ${0 * PI / 180} 0" /> 
    <parent link="ps3_eye_base"/>
    <child link="ps3_eye_camera"/>
  </joint>
  
  <!-- Link for Mount to Jackal -->
  <joint name="ps3_eye_base_to_jackal" type="fixed">
    <origin xyz="0.042 0 0.2" rpy="0 0 0" />
    <parent link="front_mount"/>
    <child link="ps3_eye_base"/>
  </joint>
  
  <!-- camera -->
  <gazebo reference="ps3_eye_camera">
    <material>Gazebo/Black</material>
    <sensor type="camera" name="ps3_camera">
      <update_rate>10.0</update_rate>
      <camera name="front_camera">
        <pose>0.02 0 0 0 0 0</pose>
        <horizontal_fov>${75 * PI / 180}</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>jackal/ps3_eye_camera</cameraName>
        <imageTopicName>/usb_cam/image_raw</imageTopicName>
        <cameraInfoTopicName>/usb_cam/camera_info</cameraInfoTopicName>
        <frameName>image_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  
  <gazebo reference="ps3_eye_base">
    <material>Gazebo/Black</material>
  </gazebo>
</robot>
