<launch>
    <arg name="default_config" value="base"/>
    <arg name="config" default="$(arg default_config)" />

    <!-- Load Jackal's description -->
    <include file="$(find map_sim)/launch/description.launch">
        <arg name="config" value="$(arg config)" />
    </include>


    <node name="sicklms" pkg="sicktoolbox_wrapper" type="sicklms" args="_port:=/dev/ttyS0 _baud:=38400  _frame_id:=lms291"/>

    <node pkg="map_sim" name="joy_start"  type="joy_start.py" output="screen" required="true" args="map_sim explore3.py"/>
    
    <node pkg="rosbag" type="record" name="rec_tf_scan" args="-o $(find map_sim)/bags/nav tf scan"/>
 
</launch>
